# Build Artifacts
/target/
/build/
/out/

# Maven / Gradle
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/
.mvn/timing.properties
.mvn/extensions.xml
.mvn/.gradle/
.gradle/

# IDE & Editor
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
docker/.env
.env.local
.env.*.local
application-dev.yml